* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    font-family: sans-serif;
}

.box {
    width: 28rem;
    min-height: 28rem;
    background: dodgerblue;
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.task {
    border-radius: 0.5rem;
    background: white;
    color: dodgerblue;
    font-weight: 700;
    width: 26rem;
    padding: 1rem;
    cursor: move;
}

.dragging {
    opacity: 0.5;
}