* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
    font-family: sans-serif;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
}

.box {
    max-width: 28rem;
    min-width: 18rem;
    width: 100%;
    min-height: 28rem;
    background: dodgerblue;
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.task {
    border-radius: 0.5rem;
    background: white;
    color: dodgerblue;
    font-weight: 700;
    max-width: 26rem;
    min-width: 16rem;
    width: 100%;
    padding: 1rem;
    cursor: move;
}

.dragging {
    opacity: 0.5;
}